# OS junk
.DS_Store
Thumbs.db

# Archives
*.zip
*.crx
*.xpi

# Build / temp
dist
build

# Editor
.vscode
.idea

# Logs
*.log


# Node (если появится)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*